# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db
